* {
    margin: 0;
    padding: 0;
}
html{
    overflow-x: hidden;
}
body {
    background: black;
    margin: 0;
    position: relative;
    z-index: -1;
    overflow-x: hidden;
}

main {
    background-image: url("assets/images/bg.jpg");
    height: 110vh;
    width: 100%;
    background-size: max-width(1200px, 100vw);
    background-repeat: no-repeat;
    position: relative;
    background-position: center center;
    z-index: -1;
}

main .box {
    height: 110vh;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0;
}

main .emaildev {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 45vh;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px 30px;
    padding-top: 150px;
}

main .emaildev h1 {
    font-size: 30px;
    text-align: center;
}

main .emaildev p {
    font-size: 20px;
    text-align: center;
}

main .emaildev input {
    border-radius: 3px;
    border: 1px solid white;
    background-color: rgb(26, 26, 26);
    padding: 10px;
    width: 250px;
}

main .emaildev button {
    background-color: red;
    padding: 10px 30px;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 5px;

}

main .emaildev button:hover {
    background-color: rgb(193, 0, 0);
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
    position: relative;
    z-index: 1;
}

nav div {
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 30px;
}

nav svg {
    height: 40px;
}

nav svg path {
    fill: red;
}

nav button {
    height: 30px;
    width: 70px;
    border: none;
    color: white;
    border-radius: 3px;
    font-size: 15px;
    background-color: red;
}

nav .English {
    border: 1px solid white;
}

nav .signin:hover {
    background-color: rgb(193, 0, 0);
    cursor: pointer;
}

.netflix-separator {
    position: relative;
    width: 180%;
    height: 180px;
    left: -40%;
    margin-top: -6vh;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;

    background:
        radial-gradient(
            35% 294% at 50% -220%,
            rgba(64, 97, 231, 0.4) 70%,
            rgba(0, 0, 0, 0.1) 100%
        ),
        black;

    border-top: 4px solid transparent;
    background-clip: padding-box;
}
/* @media (min-width: 600px) {
    .netflix-separator {
        width: 180%;
        left: -40%;
    }
} */

.netflix-separator::before {
    content: "";
    position: absolute;
    inset: 0;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    margin: -4px;
    height: 170px;
    background: linear-gradient(
        to right,
        #210d16 16%,
        #b82869,
        #e50914,
        #b82869,
        #210d16 84%
    );
    z-index: -1;
}

.first{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: auto;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    z-index: 10;
}
.first img{
    width: 30vw;
}
.first .image{
    position: relative;
}
.first video{
    position: absolute;
    top: 17px;
    left: 1vw;
    right: 0;
    width: 28vw;
    z-index: -1;
    object-fit: cover;
}
.first div{
    display: flex;
    flex-direction: column;
}
.first span:nth-child(1){
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}
.first span:nth-child(2){
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.separation{
    height: 10px;
    width: 100%;
    background-color: rgb(46, 44, 44);
    margin: 35px 0px;
}
.faq{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
}
.faq .faqtext{
    font-size: 40px;
    color :white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    text-align: center;
}
.faq .card{
    height: 11vh;
    width: 61vw;
    padding: 0.4rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(45, 45, 45);
    color:rgb(255, 255, 255);
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.faq .card:hover{
    background-color: rgb(65, 65, 65);
}
